*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

#barraLogo{
        background-color: #2D3142;

}
    h1{
    display: inline-flex;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 6rem;
}


h2 {
    font-size: 4rem;
}

a {
    text-decoration: none ;
    font-size:4rem;
    color: #2D3142;
}

body {
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: cover ;
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
}
main{
    margin-top: 35rem;
}
table {
    margin-top: 1rem;
    text-align: center;
    background-color:#bfc0c0;
    border-radius: 2rem;
    border-spacing: 1rem;
    width: fit-content;
}

.carrusel {
    background-color: #bfc0c0;
}
.carrusel img {
    

    height: 600px;
    
    width: 600px;
    
    object-fit:contain;
}

.video {
text-align: center;
padding-top: 10rem;
}

.navegacion{
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
}
.navegacion li {
    display: inline;
    margin-inline: 3rem;

}

td {
    color:#2D3142;
    text-align: center;
    font-style:italic;
    padding: 3rem;

    
}

tr {
    color: #2D3142;
    font-style:italic;
    text-align: center;
}

.introContacto{    
    font-size: 3rem;
    text-align: center;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/carbon_fibre.png);
    padding: 7rem;
    border-radius: 2rem;
    margin-top: 10rem;
    margin-bottom: 10rem ;
}

p { 
    font-size: 3rem;
    text-align: justify;
    color: #2D3142;
    
}
.preguntas p {
    text-align: left;
    margin: 1.5rem;
}


fieldset{ 
    border-width: 3rem;
    border-spacing: 2rem;
    border-radius: 2rem;
    border-style: none;
}

legend{
    font-size: 3rem;
    text-align: left;
    color: #4F5D75;
}

div{  
    font-size: 3rem;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 2rem;
}


footer{
    font-size: 3rem;
    color: #2D3142;
    text-align: center;
    padding-top: 5rem;

}



input{ 
    font-size: 3rem;
    }

#estadoCivil { 
    font-size: 3rem;
}

.opcion { 
    font-size: 3rem;
    text-align: center;
}

.mapa{  
    text-align: center;
    margin-top: 25rem;
}

.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.vision { 
    font-size: 1.5rem;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 2rem;
    margin-top: 35rem;
    border-radius: 2rem;
    background-color: #bfc0c0;
}

.mision { font-size: 3rem;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 2rem;
    margin-top: 10rem;
    border-radius: 2rem;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/carbon_fibre.png);
}

