/* Contacto */
h4{
    font-size: $s;
    text-align: center;
}

.introContacto{    
    font-size: $s;
    text-align: left;
    background-color: $gris;
    padding: 7rem;
    border-radius: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem ;
    border-radius: 2rem;
    box-shadow: 0 0 10px 10px $azul
}
.formulario{
    margin-top: 10rem;
    background-color: $naranja;
    border-radius: 2rem;
    padding: 10rem;
    box-shadow: 0 0 10px 10px $azul;
    overflow: hidden;
    }


    
    .formulario p { 
        font-size: $s;
        text-align: left;
        color: $blanco
        
    }
    .preguntas p {
        text-align: left;
        margin: 1.5rem;
    }
    .formulario div{  
        font-size: $s;
        text-align: left;
        color: $blanco;
        padding: 2rem;
    }
    
    .formulario input{ 
        font-size: $s;
        text-align: left;
        }
    
    #estadoCivil { 
        font-size: $s;
        text-align: left;

    }
    
    .formulario .preguntas { 
        font-size: $s;
        text-align: left;
    }
    .casilla{
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 576px){
        .formulario p { 
            font-size: $xs;
        }
        .formulario div{  
            font-size: $xs;
        }
        .formulario input{ 
            font-size: $xs;
        }
        #estadoCivil { 
            font-size: $xs;
        }
        .formulario .preguntas { 
            font-size: $xs;
        }


    }