/* Encontranos */

.map-responsive{  
    display: grid;
    place-items: center;
    margin-top: 10rem;
    width: 100%;
    overflow: hidden;
    @extend .fondos-sections;
}

.titulo-redes h2 {
text-align: center;
margin-top: 5rem;
}

.social-bar{
    @include flex-center;
    justify-content: center;
    margin-top: 3rem;
        
    
    img {
        max-width: 80px;
        margin-inline: 10px;
        
    }

    li{
        display: inline;
        text-decoration: none;
        width: 100;
    }
}

@media screen and (max-width: 576px){
.social-bar img { 
    max-width: 55px;
}
}