/* Inicio */


.carrusel {
    background-color: #bfc0c0;
    border-radius: 5rem;
    box-shadow: 0 0 10px 10px #2D3142
}
.carrusel img {
    

    height: 600px;
    
    width: 600px;
    
    object-fit:contain;
}


.descripcion{ 
    background-color: #bfc0c0;
    border-radius: 5rem;
    padding: 2rem;
    margin-top: 10rem;
    box-shadow: 0 0 10px 10px #2D3142
}

.descripcion h2 {
    text-align: center;
    margin-top: 2rem;
    color: #2D3142;
    
}

.descripcion p {

    font-size: 2rem;
    text-align: justify;
    color: #2D3142;   
}

.video-responsive {
    text-align: center;
    margin-top: 10rem;
    margin-bottom:2rem ;
    overflow:hidden;


}
.video-responsive iframe{
    height:400px;
}


