/* Inicio */



.carrusel {
    @extend .fondos-sections;
        
}
.carrusel img {
    
    @include sizes(500px,500px);
    object-fit:contain;
    overflow: hidden;
    padding: 30px;
}


.descripcion{ 
    @extend .fondos-sections;
    padding: 2rem;
    margin-top: 10rem;
}

.descripcion h2 {
    text-align: center;
    margin-top: 2rem;
    color: $azul;
    
}

.descripcion p {

    font-size: 2rem;
    text-align: justify;
    color: $azul;   
}

.video-responsive {
    text-align: center;
    margin-top: 10rem;
    margin-bottom:2rem ;
    overflow:hidden;


}
.video-responsive iframe{
    height:400px;
}

.container-boton{
    background-color: $azul;
    border: 1px solid $azul;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    padding: 15px;
    z-index: 999;
    animation: efecto-wsp 1.2s infinite;

}
.container-boton :hover{
    transform: scale(1.1);
}
.boton{
    @include sizes(80px,80px);

}

@media screen and (max-width: 576px){
    .boton{
        @include sizes(40px,40px);
;
    }
    .container-boton{
        bottom: 15px;
        right: 15px
    }
}



@keyframes efecto-wsp {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);

    }
    
}

