/* Nosotros */

.contenedor-vision { 
    @include flex-center;
    flex-direction: column;
    font-size: $m;
    color: $azul;   
    padding: 2rem;
    margin-bottom: 10rem;
    @extend .fondos-sections;
}
.vision h2 {
    text-align: center;
}

.vision p { 
    @include flex-center;
    flex-direction: column;
    font-size: $s;
    color:#2D3142;
    padding: 5rem;
    margin-bottom: 2rem;
}

