/* Nosotros */

.contenedor-vision { 
    display:flex;
    flex-direction: column;
    justify-content:center;
    font-size: 3rem;
    color: #2D3142;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-color: #bfc0c0;
    box-shadow: 0 0 10px 10px #2D3142
}
.vision h2 {
    text-align: center;
}

.vision p { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    color:#2D3142;
    padding: 5rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-color: #bfc0c0;
    
}

