/* Servicios */

.contenedor-servicios{
    @include flex-center;
    flex-direction: row;
    gap: 80px;
    font-size: $s;
    color: $azul;
    margin-bottom: 10rem;
    padding: 3rem;
    width: 100%;
    @extend .fondos-sections;
}

@media screen and (max-width: 992px){
    .contenedor-servicios {
        flex-direction: column;
        padding: 1.5rem;
        font-size: 1.5rem;
        gap: 50px;
    }
    .contenedor-servicios img {
        height: 80px;
    }
    }

.contenedor-servicios img{
    height: 120px;
}



