/* Servicios */

.contenedor-servicios{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    font-size: 2.5rem;
    background-color: #bfc0c0;
    color: #2D3142;
    border-radius: 2rem;
    margin-bottom: 10rem;
    padding: 3rem;
    box-shadow: 0 0 10px 10px #2D3142;
    width: 100%;
}

@media screen and (max-width: 992px){
    .contenedor-servicios {
        flex-direction: column;
        padding: 1.5rem;
        font-size: 1.5rem;
        gap: 50px;
    }
    .contenedor-servicios img {
        height: 80px;
    }
    }

.contenedor-servicios img{
    height: 120px;
}



