/* Tamaños de letras*/
$xl:6rem;
$l:4rem;
$m:3rem;
$s:2.5rem;
$xs:1.5rem;
$xxs:0.5rem;


/* colores */
$blanco:whitesmoke;
$azul:#2D3142;
$naranja:#ef8354;
$gris: #bfc0c0;

/* Mixin */

@mixin flex-center {
    display: flex;
    align-items: center;    
}

/* Mixin con parámetros*/

@mixin sizes($ancho, $alto){
    width: $ancho;
    height: $alto;
}

/* Black Friday  o no (Condicional) */
$fiesta: none;
